<form action="/add" method="POST">
    <p>titulo:</p>
    <input type="text" name="titulo">
    <p>Conteúdo:</p>
    <textarea name="conteudo" cols="30" rows="10"></textarea>
    <button type="submit" value="Enviar">Enviar</button>
</form>